@media(max-width:1310px) and (min-width:700px){
    .homepage{
        width:100%;
        margin: 0%;
        padding: 0%;
    }

    .head_content{
        height: inherit;    
    } 

    .item{
        padding-bottom: 40px;
    }

    .plan{
        font-size: 15px;
    }

    .item_img img{
        width: 40%;
    }
}

/* @media(max-width:585px)
{
    .homepage{
        width:100%;
        margin: 0%;
        padding: 0%;
    }

    .plan{
        font-size: 10px;
    }
} */