  
.explore{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  padding-top: 40px;
  padding-left: 80px;
}
  
.line_3{
  width: 150px;
  height: 4px;
  background: rgb(65, 126, 232);
  border-radius: 5px;
  margin-left: 210px;
  margin-top: 30px;
}
  
.world{
  font-family: 'Poppins', sans-serif;
  margin-left: 145px;
  margin-top: 50px;
}
  
.btn_2{
  color: white;
  background-color: rgb(65, 126, 232);
  padding: 0%;
  width: 110px;
  height: 27px;
  margin-top: 70px;
  border-radius: 12px; 
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-left: 210px;
}