@import url(css/navigation.css);
@import url(css/homepage.css);
@import url(css/second_page.css);
@import url(css/third_page.css);
@import url(css/carousel.css);
@import url(css/footer.css);
@import url(css/media_query.css);
/* @import url(css/test.css); */

/* Styling the scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: rgb(0, 0, 0);
  }
  ::-webkit-scrollbar-thumb {
    background-color:  rgb(52, 73, 173);
    width: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
  }


*{
    margin: 0;
    padding: 0;   
}

.homepage{
  background-image: url(assets/trek.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.third_page{
  background-image: url(assets/travel.png);
  width: 100%;
  height:fit-content;
  padding: 5% 0%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
